@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --font-inter: "Inter", sans-serif;
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-jakarta {
  font-family: var(--font-plus-jakarta);
}
.generate-button {
  position: relative;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0px 0px 20px 0px #ffffff33 inset;
  backdrop-filter: blur(6.5px);
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 25px;
  height: 18px;
  right: 26px;
  top: 28px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #c5b8ff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #c5b8ff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #c5b8ff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0 !important;
}

/* General sidebar styles */
.bm-menu {
  background: #030126;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #c5b8ff;
  padding: 0.8em;
}
.bm-item-list a {
  color: #c5b8ff;
  padding-bottom: 1em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
